<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>{{ name }}</title>
  <link href="/assets/css/roboto.css" rel="stylesheet">
  <link href="/assets/css/materialdesignicons.css" rel="stylesheet">
  <link href="/assets/css/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/APlayer.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer v-model="drawer" mobile-breakpoint="960"  app  width="260" dark src="https://s3.bmp.ovh/imgs/2022/07/12/61d68de31c8951af.jpeg">
        <template v-slot:img="props">
            <v-img
                :gradient="`to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)`"
                v-bind="props"
            />
        </template>
        <v-list dense  nav>
          <v-list-item>
            <v-list-item-avatar  class="align-self-center" >
              <v-avatar  color="orange"  size="36">
                <span class="white--text text-h5">A</span>
              </v-avatar>     
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title  class="display-5"  v-text="hello" />
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-list>
            <v-list-item-group v-model="navselected"  mandatory	color="white">
                <v-list-item
                  v-for="(item, i) in items"
                  :key="i"
                  link
                  @click="switchContainer(item)"
                >
                  <v-list-item-icon>
                    <v-icon>${ item.icon }</v-icon>
                  </v-list-item-icon>
      
                  <v-list-item-content>
                    <v-list-item-title>${ item.label }</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
             </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar  absolute  app  color="transparent"  flat  height="75">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>${actionTitle}</v-toolbar-title>
      <v-spacer></v-spacer>


      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            icon
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            @click="showSetting=true"
          >
            <v-list-item-title>配置</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-app-bar>


<!-- 其它操作视图元素开始 -->
<!--aria2配置开始-->
<v-dialog
      v-model="showSetting"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">配置</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
                  <v-col cols="12">
                    <v-select
                      v-model="selectaction"
                      hint="默认功能"
                      :items="items"
                      item-text="label"
                      item-value="action"
                      label="默认功能"
                      @change="switchContainer(selectaction)"
                      persistent-hint
                      return-object
                      single-line
                    ></v-select>
                </v-col>
             
                <v-col cols="12">
                    <v-text-field
                        v-model="aria2Url"
                        label="Aria2地址"
                    ></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field
                        v-model="aria2Token"
                        label="Aria2 Token"
                    ></v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-text-field
                        v-model="aria2Dir"
                        label="文件保存目录"
                    ></v-text-field>
                </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="showSetting = false"
          >
            关闭
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--aria2配置结束-->



<!-- 其它操作视图元素结束 -->
    <v-main>
      <v-container fluid v-show="showcontainer=='showmusic'">
        <v-row align="center">
              <v-col
                class="d-flex"
                cols="3"
                sm="3"
              >
                 <v-select
                          v-model="selectedtype"
                          :items="types"
                          item-text="name"
                          item-value="value"
                          label="来源"
                          return-object
                          single-line
                          solo
                        ></v-select>
              </v-col>
              <v-col
                class="d-flex"
                cols="9"
                sm="9"
              >
              <v-text-field
                label="歌手/歌曲"
                v-model="kw"
                append-icon = "mdi-cloud-search-outline"
                @click:append="search"
                solo
              >
              </v-text-field>
              </v-col>
    
        </v-row>
        <v-row align="center">
            <v-col
            class="d-flex"
            cols="12"
            sm="12"
            >
                <div id="aplayer" style="width: 100%"></div>
            </v-col>

            <v-col
                class="d-flex"
                cols="12"
                sm="12"
            >
                <v-card
                class="col-12"
                flat
                >
                    <v-card-text>
                        <v-row
                            align="center"
                            justify="center"
                        >
                            <v-btn-toggle
                            v-model="toggle_exclusive"
                            rounded
                            >
                            <v-btn @click="nextpage">下一页</v-btn>
                            <v-btn @click="download">Aria2下载</v-btn>
                            <v-btn @click="getUrl">地址</v-btn>
                            <v-btn @click="downloadLocal">下载</v-btn>
                            </v-btn-toggle>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>

        </v-row>
      </v-container>
    </v-main>
    </v-app>
  </div>

  <script src="/assets/js/vue.js"></script>
  <script src="/assets/js/axios.min.js"></script>
  <script src="/assets/js/vuetify.min.js"></script>
  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/assets/layer/layer.js"></script>
  <script src="/assets/js/clipboard.min.js"></script>
  <script src="/assets/js/freemp3.js"></script>
  <script src="/assets/js/APlayer.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      delimiters:['${','}'],
      vuetify: new Vuetify(),
      data: () => ({
        drawer: null,
        group: null,
        toggle_exclusive: undefined,
        items: [
	        {'icon':'mdi-music', 'label':'音乐','action':'showmusic'}
        ],
        types:[ //类别选择数据或者从后台获取数据
          {name:"A",value:"YQB"},
          {name:"B",value:"migu"},
          {name:"C",value:"YQD"},
        ],
        selectaction:null,
        selectedtype:null,
        showcontainer:'',
        aria2Url:'http://127.0.0.1:6800/jsonrpc',
        aria2Token:'123456',
        aria2Dir:'/downloads',
        hello:"控制台",
        actionTitle:'',
        showConfig:false,
        showSetting:false,
        player:null,
        kw:'',
        page:1,
        navselected:0,
        list:[],
      }),
      computed: {
       
      },
      watch: {
        group () {
            this.drawer = false
        },
        aria2Url(newName) {
          localStorage.aria2Url = newName;
        },
        aria2Token(newName) {
          localStorage.aria2Token = newName;
        },
        aria2Dir(newName) {
          localStorage.aria2Dir = newName;
        },
        selectaction(newName) {
          localStorage.setItem("selectaction", JSON.stringify(newName))
        },
      },
      mounted: function () {
        this.$nextTick(function () {
            this.player = new APlayer({
	            container: document.getElementById('aplayer'),
	            lrcType: 3,
	            audio: []
	        });
         
            if (localStorage.aria2Url) {
                this.aria2Url = localStorage.aria2Url;
            }
            if (localStorage.aria2Token) {
                this.aria2Token = localStorage.aria2Token;
            }
            if (localStorage.aria2Dir) {
                this.aria2Dir = localStorage.aria2Dir;
            }


            if (localStorage.selectaction) {
              this.selectaction = JSON.parse(localStorage.getItem("selectaction"));
              this.navselected = this.items.findIndex( nav => nav.action === this.selectaction.action );
            }else{
              this.selectaction = this.items[0];
            }
            this.showcontainer = this.selectaction.action;
            this.actionTitle = this.selectaction.label;
            this.selectedtype = this.types[0];

        })
      },
      methods: {
        switchContainer:function(obj){
      		this.showcontainer = obj.action;
      		this.actionTitle = obj.label;
      		this.navselected = this.items.findIndex( nav => nav.action === obj.action );
      	},
        setting:function(){
          var index=layer.open({
            type: 1,
            shadeClose: true,
            content: $('#settingdiv')
          });
          layer.full(index);
        },
        search:function(){
          var that = this;
          that.page=1;
          that.list=[];
          that.player.list.clear();
          var query="text="+that.kw+"&page="+that.page+"&type="+that.selectedtype.value;
          var encodequery = encode(query);
          var data = getQueryVariable(encodequery,'data');
          var version = getQueryVariable(encodequery,'v');
          axios.post('/musicquery', {
            data: data,
            v: version
          })
          .then(function (response) {
            if(response.data.code=200){
              var songs = [];
              $.each(response.data.data.list, function( index, value ) {
                //that.list.push(value);
                songs.push({
                    name: value.name,
                    artist: value.artist,
                    url: value.url,
                    cover: value.cover,
                    lrc:   "/musiclrcquery?url="+encodeURIComponent(value.lrc),
                    theme: '#ebd0c2'
                })
                that.list.push(value);
              });
              that.player.list.add(songs);
            }
            //console.log(response.data);
          })
          .catch(function (error) {
            console.log(error);
          });
        },
        nextpage:function(){
          var that = this;
          that.page+=1;
          var query="text="+that.kw+"&page="+that.page+"&type="+that.selectedtype.value;
          var encodequery = encode(query);
          var data = getQueryVariable(encodequery,'data');
          var version = getQueryVariable(encodequery,'v');
          axios.post('/musicquery', {
            data: data,
            v: version
          })
          .then(function (response) {
            if(response.data.code=200){
              var songs = [];
              $.each(response.data.data.list, function( index, value ) {
                //that.list.push(value);
                songs.push({
                    name: value.name,
                    artist: value.artist,
                    url: value.url,
                    cover: value.cover,
                    theme: '#ebd0c2'
                })
                that.list.push(value);
              });
              that.player.list.add(songs);
            }
          })
          .catch(function (error) {
            console.log(error);
          });
        },
        getUrl:function(){
            var index = this.player.list.index;
            var songlist = this.player.list;
            if(songlist.audios.length<=0||songlist==undefined){
                layer.alert("没有歌曲");
                return false;
          }
            var name = songlist.audios[index].name;
            var artist = songlist.audios[index].artist;
            var url = songlist.audios[index].url;
            layer.open({
                type: 1, 
                content: '<a href="'+url+'" targe="_blank">'+url+'</a>' //这里content是一个普通的String
            });
        },
        download:function(){
          var songlist = this.player.list;
          if(songlist.audios.length<=0||songlist==undefined){
                layer.alert("没有歌曲");
                return false;
          }
          var index = this.player.list.index;
          var name = songlist.audios[index].name;
          var artist = songlist.audios[index].artist;
          var url = songlist.audios[index].url;
          this.aria2(url,name+'-'+artist+'.mp3');
        },
        downloadLocal:function(){
          var that = this;
          var songlist = this.player.list;
          if(songlist.audios.length<=0||songlist==undefined){
                layer.alert("没有歌曲");
                return false;
          }
          var index = this.player.list.index;
          var song = this.list[index];
          var data = JSON.stringify(song);
          var config = {
            method: 'post',
            url: '/musicdownload',
            headers: { 
              'Content-Type': 'application/json'
            },
            data : data
          };
          axios(config)
            .then(function (response) {
              layer.msg(response.data.data);
              console.log(response.data);
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        aria2:function(fileurl,filename){
          var url = this.aria2Url;
          var data = {"jsonrpc": "2.0", "id": "qwer", "method": "aria2.addUri", "params": ["token:"+this.aria2Token,[fileurl],{"out":filename ,"dir":this.aria2Dir}]}
          $.ajax({
              url: url,
              data: JSON.stringify(data),
              type: "post",
              //async: false,//false为同步
              dataType: "json",
              success: function(obj) {
                  layer.alert('歌曲下载成功', {icon: 6});
              }, 
              error: function (jqXHR, textStatus, errorThrown) {
                    layer.alert('歌曲下载失败,请检查Aria2配置', {icon: 5});
              }
          });
        }
    
      }
})


    var clipboard = new ClipboardJS('.copybtn');

    clipboard.on('success', function(e) {
        layer.alert("复制成功");
    });


    function getQueryVariable(query,variable) {
        var query = query;
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            if (decodeURIComponent(pair[0]) == variable) {
                return decodeURIComponent(pair[1]);
            }
        }
    }
  </script>
</body>
</html>
