<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ name }}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/DataTables/datatables.min.css" rel="stylesheet">
<link href="/assets/DataTables/Responsive-2.2.9/css/responsive.bootstrap5.min.css" rel="stylesheet">
</head>
<body>
<div id="app" class="container">
   <h1 class="text-center">${message}</h1>
   <div class="row">
        <div class="col-12">
            <table class="table" id="servers-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>文件名</th>
                    <th>CID</th>
                    <th>大小</th>
                    <th>创建时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
              </table>
        </div>
  </div>
</div>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/layer/layer.js"></script>
<script src="/assets/DataTables/datatables.min.js"></script>
<script src="/assets/DataTables/Responsive-2.2.9/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/vue-3.js"></script>
<script src="/assets/js/axios.min.js"></script>
<script>
const App = {
    compilerOptions: {
        delimiters: ["${", "}"]
    },
    data() {
        return {
            message: "数据表格测试",
            table: null,
            gateway: "",
        };
    },
    mounted : function(){
        var that = this;
        this.table =  $('#servers-table').DataTable({
            "scrollX": true,
            processing: true,
            serverSide: true,
            "pageLength": 10,
            "order": [],
            ajax: '/videos/all',
            select: {
                style: 'single',
                //selector: 'td:not(:nth-of-type(2))'
            },
            columns:[
                    {data: 'img', name: '',"searchable": false,orderable: false,"render": function ( data, type, row, meta ){
                        return "<a onclick='viewimg(\""+data+"\")' class='btn btn-outline btn-primary btn-sm'>图</a>";
                      }
                    },
                    {data: 'id', name: 'id'},
                    {data: 'name', name: 'name',render: function ( data, type, row, meta ){
                      return "<a href='vlc://"+that.gateway+"/"+row.cid+"/"+data+"' target='_blank'>"+data+"</a>";
                      }
                    },
                    {data: 'cid', name: 'cid',"searchable": false,orderable: false,"render": function ( data, type, row, meta ){
                        return "<a href='"+that.gateway+"/"+data+"/' target='_blank'>"+data+"</a>";
                      }
                    },
                    { data: 'size', name: 'size',"render": function ( data, type, row, meta ){
                        return bytesToSize(data);
                      }
                    },
                    { data: 'created_at', name: 'created_at'},
                    { data: 'id', "searchable": false,orderable: false,name: 'action',"render": function ( data, type, row, meta ){
                          var obj= JSON.stringify(row);
                          return "<button class='btn btn-outline btn-primary btn-sm' onclick='edit("+obj+")'>编辑</button><button class='btn btn-outline btn-danger btn-sm' onclick='del("+obj+")'>删除</button>";
                      } 
                    }
            ],
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
    },
    methods: {
      viewimg:function(imgsrc){
        var that = this;
        layer.ready(function(){
          var index = layer.load(2);
          layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 1,
                    area: ['80%','400'], //宽高
                    skin: 'layui-layer-nobg', //没有背景色
                    shadeClose: true,
                    content: '<div style="text-align:center;"><img height="400" src="'+imgsrc+'"/></div>'
                });
          layer.close(index);
        })
      },
      edit:function(video){
          console.log(video);
      },
      del:function(video){
          console.log(video);
      },
    }
};
const app = Vue.createApp(App).mount('#app');


function viewimg(src){
  app.viewimg(src);
}
function edit(obj){
    app.edit(obj);
}
function del(obj){
    app.del(obj);
    $(".dtr-modal-close").click();
}
function bytesToSize(bytes) {
    if(bytes === 0) return '0 B';
    var k = 1024;
    var sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
    var i = Math.floor(Math.log(bytes) / Math.log(k));
    return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
    // return parseFloat(bytes / Math.pow(k, i)).toFixed(2)  + sizes[i];
}

</script>
</body>
</html>