<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>{{ name }}</title>
  <link href="/assets/css/roboto.css" rel="stylesheet">
  <link href="/assets/css/materialdesignicons.css" rel="stylesheet">
  <link href="/assets/css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer v-model="drawer" mobile-breakpoint="960"  app  width="260" dark src="https://raw.githubusercontent.com/wclr/material-dashboard-pro/master/assets/img/sidebar-1.jpg">
        <template v-slot:img="props">
            <v-img
                :gradient="`to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)`"
                v-bind="props"
            />
        </template>
        <v-list dense  nav>
          <v-list-item>
            <v-list-item-avatar  class="align-self-center" >
              <v-avatar  color="orange"  size="36">
                <span class="white--text text-h5">N</span>
              </v-avatar>     
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title  class="display-5"  v-text="hello" />
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-list flat>
          <v-subheader>导航</v-subheader>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar  absolute  app  color="transparent"  flat  height="75">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>${actionTitle}</v-toolbar-title>
      <v-spacer></v-spacer>




<!-- 其它操作视图元素开始 -->
    <v-dialog
      v-model="showConfig"
      persistent
      max-width="600px"
    >

    <v-card>
      <v-card-title>
        <span class="text-h5">登陆</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12"  sm="12" md="12">
              <v-text-field
                ref="email"
                v-model="email"
                label="邮箱*"
                placeholder="邮箱"
                required
              ></v-text-field>

            </v-col>
            <v-col cols="12"  sm="12" md="12">
                <v-text-field
                v-model="password"
                :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showpassword ? 'text' : 'password'"
                required
                name="password"
                label="密码*"
                hint=""
                counter
                @click:append="showpassword = !showpassword"
            ></v-text-field>

            <v-col cols="12"  sm="12" md="12">
              <v-textarea
              v-model="token"
              name="token"
              label="token"
              filled
          ></v-textarea>


            </v-col>

          </v-row>
        </v-container>
        <small>*为必填项,登陆成功token才会变化</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="showConfig = false"
        >
          关闭
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="login"
        >
          登陆
        </v-btn>
      </v-card-actions>
    </v-card>

    </v-dialog>

<!-- 其它操作视图元素结束 -->


    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-row dense>
          <v-col cols="12">
            <template>
              <v-card>
                <v-tabs
                  v-model="tab"
                  center-active
                >
                  <v-tab href="#save">存件</v-tab>
                  <v-tab href="#take">取件</v-tab>
                  <v-tab>
                    <v-btn depressed @click="showConfig = true">
                      登陆
                    </v-btn>
                  </v-tab>
                
                </v-tabs>


                <v-tabs-items v-model="tab">
                  <v-tab-item :key="1" value="save">
                    <v-card flat>
                        <v-textarea
                        v-model="offlineurl"
                        append-icon="mdi-cloud-upload"
                        name="offlineurl"
                        label="下载链接"
                        @click:append="addoffline"
                      ></v-textarea>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item :key="2" value="take">
                    <v-card flat>
                        <v-text-field
                        v-model="offlinetakecode"
                        name="offlinetakecode"
                        append-icon="mdi-cloud-download"
                        label="取件码"
                        @click:append="offlinetake"
                      ></v-text-field>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>

              </v-card>
            </template>
        </v-col>
        </v-row>



        <v-row dense v-if="addofflineok">
          <v-col cols="12">
              <v-text-field
                v-model="offlinecode"
                label="取件码"
                id="foo"
              >
             	<template slot="append">
				    <v-icon class="copybtn" data-clipboard-target="#foo">mdi-content-copy</v-icon>
				    <v-icon @click="offlinetake">mdi-cloud-download</v-icon>
			 	 </template>
              </v-text-field>
          </v-col>
        </v-row>

    

        <v-row dense v-if="takeofflineok">
          <v-col cols="12" v-if="takeresult['data']['targetType']=='file'">
 			<v-text-field
                :label="takeresult['data']['name']"
                id="foo-file"
                :value="takeresult['data']['url']"
              >
             	<template slot="append">
				    <v-icon class="copybtn" data-clipboard-target="#foo-file">mdi-content-copy</v-icon>
			 	 </template>
              </v-text-field>
          </v-col>
        </v-row>


        <v-row dense v-if="takeofflineok">
          <v-col cols="12" v-if="takeresult['data']['targetType']=='folder'">
			       <v-text-field
			         v-for="item in takeresult['filelist']"
               :value="item['name']+'-'+item['size']"
 				       append-outer-icon="mdi-link"
               v-on="on"
                @click:append-outer="getlink(item['id'])"
                readonly
              >
              </v-text-field>
          </v-col>
        </v-row>





      </v-container>
    </v-main>
    </v-app>
  </div>

  <script src="/assets/js/vue.js"></script>
  <script src="/assets/js/axios.min.js"></script>
  <script src="/assets/js/vuetify.min.js"></script>
  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/assets/layer/3.5.1/layer.min.js"></script>
  <script src="/assets/js/clipboard.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      delimiters:['${','}'],
      vuetify: new Vuetify(),
      data: () => ({
        drawer: null,
        group: null,
        showpassword:false,
        addofflineok:false,
        tab: "save",
        email:'',
        password:'',
        token:'',
        offlineurl:'',
        offlinecode:'',
        offlinetakecode:'',
        takeofflineok:false,
        takeresult:null,
        hello:"控制台",
        actionTitle:'离线',
        showConfig:false,
      }),
      computed: {
       
      },
      watch: {
        group () {
            this.drawer = false
        },
      },
      mounted: function () {
        this.$nextTick(function () {
          if (localStorage.email) {
            this.email = localStorage.email;
          }
          if (localStorage.password) {
            this.password = localStorage.password;
          }
          if (localStorage.token) {
            this.token = localStorage.token;
          }
        })
      },
      methods: {
        login:function(){
          var that = this;
          localStorage.email = that.email;
          localStorage.password = that.password;
          var data = JSON.stringify({
            "email": this.email,
            "password": this.password
          });
          layer.load();
          var config = {
            method: 'post',
            url: 'https://dash-progo.koyeb.app/auth/login',
            headers: { 
              'User-Agent': 'Mozilla/5.0 (iPhone; CPU iPhone OS 15_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Mobile/15E148 Safari/604.1', 
              'Host': 'dash-progo.koyeb.app', 
              'Content-Type': 'application/json', 
              'Referer': 'https://www.progo.cc/', 
              'Connection': 'keep-alive', 
              'Origin': 'https://www.progo.cc'
            },
            data : data
          };

          axios(config)
          .then(function (response) {
            //console.log(JSON.stringify(response.data));
            layer.closeAll('loading');
            var result = response.data;
            if(result['status']=='ok'){
                    that.token = result['data']['token'];
                    localStorage.token = that.token;
                    layer.alert("登陆成功");

            }else{
                    layer.alert(result['message']);
            }
          })
          .catch(function (error) {
             layer.closeAll('loading');
            layer.alert("出现错误，稍后重试");
            console.log(error);
          });

        },
      addoffline:function(){
        var that = this;
        var data = JSON.stringify({
            "url": that.offlineurl
          });
        layer.load();

        var config = {
          method: 'post',
          url: 'https://file-progo.koyeb.app/add/download-task',
          headers: { 
            'Origin': 'https://file.progo.cc', 
            'Content-Type': 'application/json', 
            'Host': 'file-progo.koyeb.app', 
            'User-Agent': 'Mozilla/5.0 (iPhone; CPU iPhone OS 15_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Mobile/15E148 Safari/604.1', 
            'Authorization': 'Bearer '+that.token, 
            'Referer': 'https://file.progo.cc/', 
            'Connection': 'keep-alive'
          },
          data : data
        };
          axios(config)
          .then(function (response) {
            //console.log(JSON.stringify(response.data));
            layer.closeAll('loading');
            var result = response.data;
            if(result['status']=='ok'){
                  that.addofflineok = true;
                  that.offlinecode = result['data']['id'];
                  that.offlinetakecode = result['data']['id'];
            }else{
                    layer.alert(result['message']);
            }
          })
          .catch(function (error) {
            layer.closeAll('loading');
            layer.alert("出现错误，稍后重试");
            console.log(error);
          });
      },
      offlinetake:function(){
        var that = this;
        layer.load();
        var config = {
          method: 'get',
          url: 'https://file-progo.koyeb.app/take/file?id='+that.offlinetakecode,
          headers: { 
            'User-Agent': 'Mozilla/5.0 (iPhone; CPU iPhone OS 15_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Mobile/15E148 Safari/604.1', 
            'Referer': 'https://file.progo.cc/', 
            'Authorization': 'Bearer '+that.token, 
            'Host': 'file-progo.koyeb.app', 
            'Connection': 'keep-alive', 
            'Origin': 'https://file.progo.cc'
          }
        };

        axios(config)
        .then(function (response) {
          //console.log(JSON.stringify(response.data));
          var result = response.data;
          if(result['status']=='ok'){
              that.takeofflineok = true;
              that.takeresult = result;
              if(result['data']['targetType']=='folder'){
                  that.offlinelist(result['data']['id']);
              }else{
                  layer.closeAll('loading');
              }
          }else{
              layer.closeAll('loading');
              layer.alert(result['message']);
          }
        })
        .catch(function (error) {
          layer.closeAll('loading');
          layer.alert("出现错误，稍后重试");
          console.log(error);
        });


      },
        offlinelist:function(id){
          var that = this;
          layer.load();
          var config = {
            method: 'get',
            url: 'https://file-progo.koyeb.app/get/file-list?id='+id,
            headers: { 
              'User-Agent': 'Mozilla/5.0 (iPhone; CPU iPhone OS 15_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Mobile/15E148 Safari/604.1', 
              'Referer': 'https://file.progo.cc/', 
              'Authorization': 'Bearer '+that.token, 
              'Host': 'file-progo.koyeb.app', 
              'Connection': 'keep-alive', 
              'Origin': 'https://file.progo.cc'
            }
          };

          axios(config)
          .then(function (response) {
            //console.log(JSON.stringify(response.data));
            var result = response.data;
                if(result['status']=='ok'){
                    Vue.set(that.takeresult,'filelist',result['data']);
                }else{
                    layer.alert(result['message']);
                }
                layer.closeAll('loading');
            })
            .catch(function (error) {
              layer.closeAll('loading');
              layer.alert("出现错误，稍后重试");
              console.log(error);
            });
      },


      getlink:function(id){
        var that = this;
        layer.load();
        var config = {
          method: 'get',
          url: 'https://file-progo.koyeb.app/take/file?id='+id,
          headers: { 
            'User-Agent': 'Mozilla/5.0 (iPhone; CPU iPhone OS 15_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Mobile/15E148 Safari/604.1', 
            'Referer': 'https://file.progo.cc/', 
            'Authorization': 'Bearer '+that.token, 
            'Host': 'file-progo.koyeb.app', 
            'Connection': 'keep-alive', 
            'Origin': 'https://file.progo.cc'
          }
        };

        axios(config)
        .then(function (response) {
          //console.log(JSON.stringify(response.data));
          var result = response.data;
          layer.closeAll('loading');
          if(result['status']=='ok'){

              var linkurl = result['data']['url']+'##'+result['data']['name'];
              var html = '<div class="input-group"><textarea class="form-control " id="bar">'+linkurl+'</textarea><div style="text-align:center"> <button class="v-btn v-btn--has-bg theme--light v-size--default copybtn" data-clipboard-target="#bar">复制</button></div></div>';
              layer.open({
                  type: 1,
                  shadeClose: true,
                  content: html
              });
              
          }else{
              layer.alert(result['message']);
          }
        })
        .catch(function (error) {
          layer.closeAll('loading');
          layer.alert("出现错误，稍后重试");
          console.log(error);
        });
    },



    },
    })


    var clipboard = new ClipboardJS('.copybtn');

    clipboard.on('success', function(e) {
        layer.alert("复制成功");
    });
  </script>
</body>
</html>