<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>{{ name }}</title>
  <link href="/assets/css/materialdesignicons.css" rel="stylesheet">
  <link href="/assets/css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer v-model="drawer" mobile-breakpoint="960"  app  width="260" dark src="https://s3.bmp.ovh/imgs/2022/07/12/61d68de31c8951af.jpeg">
        <template v-slot:img="props">
            <v-img
                :gradient="`to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)`"
                v-bind="props"
            />
        </template>
        <v-list dense  nav>
          <v-list-item>
            <v-list-item-avatar  class="align-self-center" >
              <v-avatar  color="orange"  size="36">
                <span class="white--text text-h5">A</span>
              </v-avatar>     
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title  class="display-5"  v-text="hello" />
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-list>
            <v-list-item-group v-model="navselected"  mandatory	color="white">
                <v-list-item
                  v-for="(item, i) in items"
                  :key="i"
                  link
                  @click="switchContainer(item)"
                >
                  <v-list-item-icon>
                    <v-icon>${ item.icon }</v-icon>
                  </v-list-item-icon>
      
                  <v-list-item-content>
                    <v-list-item-title>${ item.label }</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
             </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar  absolute  app  color="transparent"  flat  height="75">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>${actionTitle}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>


       <v-main>
      <v-container fluid v-show="showcontainer=='showpassword'">
        <v-row>
          <v-col
          cols="12"
          class="my-0 py-0"
           >
              <v-form ref="form">
                <v-text-field
                  v-model="password"
                  :counter="max"
                  filled
                  readonly
                  label="密码"
                >
                <template slot="append-outer">
                  <v-btn
                    @click="generate"
                  >
                    <v-icon>mdi-autorenew</v-icon>
                  </v-btn >
                  <v-btn
                    @click="copyPassword(password)"
                  >
                  <v-icon>mdi-content-copy</v-icon>
                </v-btn>
                </template>
                </v-text-field>
              </v-form>
            </v-col>

            <v-col
            cols="12"
            class="my-0 py-0"
             >
                <v-slider
                  v-model="max"
                  label="长度"
                  @change="generate()"
                >
                </v-slider>
              </v-col>

                <v-col
                cols="4"
                class="my-0 py-0"
                 >
        
                <v-checkbox
                  v-model="allowLowercase"
                  @click="generate()"
                  label="a-z"
                ></v-checkbox>
                </v-col>
                <v-col
                cols="4"
                class="my-0 py-0"
                 >
                <v-checkbox
                  v-model="allowUppercase"
                  @click="generate()"
                  label="A-Z"
                ></v-checkbox>
              </v-col>
                <v-col
                cols="4"
                class="my-0 py-0"
                 >
                <v-checkbox
                  v-model="allowNumbers"
                  @click="generate()"
                  label="0-9"
                ></v-checkbox>
              </v-col>
            </v-row>
        <v-row align="center" class="px-3">
          <v-checkbox
          v-model="allowSymbols"
          @click="generate()"
          hide-details
          class="shrink mr-2 mt-0"
        ></v-checkbox>
        <v-text-field
          :disabled="!allowSymbols"
          label="特殊符号"
          v-model="symbols"
        ></v-text-field>
        </v-row>

      <v-row align="center" class="px-3">
        <v-checkbox
        v-model="allowExcepted"
        hide-details
        class="shrink mr-2 mt-0"
        @click="generate()"
      ></v-checkbox>
      <v-text-field
        :disabled="!allowExcepted"
        label="排除字符"
        v-model="excepted"
      ></v-text-field>
      </v-row>
      
      <v-row>
        <v-col cols="12">
          <v-card
            class="mx-auto"
            outlined
          >
          <v-card-title class="justify-space-between">生成记录<v-btn @click="clearHistory">清空</v-bnt></v-card-title>
            <v-list-item v-for="item in history">
              <v-list-item-content>
                <v-list-item-title>${item}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon @click="copyPassword(item)">
                  <v-icon>mdi-content-copy</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-card>
      </v-col>
      </v-row>
      </v-container>
    </v-main>
    </v-app>
  </div>

  <script src="/assets/js/vue.js"></script>
  <script src="/assets/js/axios.min.js"></script>
  <script src="/assets/js/vuetify.min.js"></script>
  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/assets/layer/layer.js"></script>
  <script src="/assets/js/vue-clipboard.min.js"></script>
  
  <script>
    var app = new Vue({
      el: '#app',
      delimiters:['${','}'],
      vuetify: new Vuetify(),
      data: () => ({
        drawer: null,
        group: null,
        toggle_exclusive: undefined,
        items: [
	        {'icon':'mdi-password', 'label':'密码生成','action':'showpassword'}
        ],
        selectaction:null,
        selectedtype:null,
        showcontainer:'',
        hello:"控制台",
        actionTitle:'',
        navselected:0,
	hasinit:false,
        //密码生成
        password:'',
        max: 12,
        allowLowercase: true,
        allowUppercase: true,
        allowNumbers: true,
        allowSymbols: false,
        allowExcepted: false,
        symbols: '!@#$%^&*()_+',
        excepted:'',
        history:[],
      }),
      computed: {
       
      },
      watch: {
        group () {
            this.drawer = false
        },
        max(newval,oldval){
          localStorage.setItem('max',newval);
        },
        allowLowercase(newval,oldval){
          localStorage.setItem('allowLowercase',newval);
        },
        allowUppercase(newval,oldval){
          localStorage.setItem('allowUppercase',newval);
        },
        allowNumbers(newval,oldval){
          localStorage.setItem('allowNumbers',newval);
        },
        allowSymbols(newval,oldval){
          localStorage.setItem('allowSymbols',newval);
        },
        allowExcepted(newval,oldval){
          localStorage.setItem('allowExcepted',newval);
        },
        symbols(newval,oldval) {
          localStorage.setItem('symbols',newval);
          if(this.hasinit==true){
            this.generate();
          }
        },
        excepted(newval,oldval) {
          localStorage.setItem('excepted',newval);
          if(this.hasinit==true){
            this.generate();
          }
        }
      },
      created(){
        var that = this;
        if(localStorage.getItem("excepted")!== null){
          this.excepted = localStorage.getItem("excepted");
        }
        if(localStorage.getItem("symbols")!== null){
          this.symbols = localStorage.getItem("symbols");
        }

        setTimeout(function () {
          that.hasinit = true;
        }, 500 )
        console.log(this.hasinit);
      },
      mounted: function () {
        // this.$nextTick(function () {
	      // });
        if (localStorage.passwordHistory) {
          this.history = JSON.parse(localStorage.getItem("passwordHistory"));
        }

        if (localStorage.getItem("max")!== null){
          this.max = JSON.parse(localStorage.getItem("max"));
        }
        if(localStorage.getItem("allowLowercase")!== null){
          this.allowLowercase = JSON.parse(localStorage.getItem("allowLowercase"));
        }
        if(localStorage.getItem("allowUppercase")!== null){
          this.allowUppercase = JSON.parse(localStorage.getItem("allowUppercase"));
        }
        if(localStorage.getItem("allowNumbers")!== null){
          this.allowNumbers = JSON.parse(localStorage.getItem("allowNumbers"));
        }
        if(localStorage.getItem("allowSymbols")!== null){
          this.allowSymbols = JSON.parse(localStorage.getItem("allowSymbols"));
        }
        if(localStorage.getItem("allowExcepted")!== null){
          this.allowExcepted = JSON.parse(localStorage.getItem("allowExcepted"));
        }
        this.selectaction = this.items[0];
        this.showcontainer = this.selectaction.action;
        this.actionTitle = this.selectaction.label;

      },
      methods: {
        switchContainer:function(obj){
      		this.showcontainer = obj.action;
      		this.actionTitle = obj.label;
      		this.navselected = this.items.findIndex( nav => nav.action === obj.action );
      	},
        generate:function(){
          var chars = '';
          if (this.allowLowercase) chars += 'abcdefghijklmnopqrstuvwxyz';
          if (this.allowUppercase) chars += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
          if (this.allowNumbers) chars += '0123456789';
          if (this.allowSymbols) chars += this.symbols;
          if (this.allowExcepted) chars = chars.replace(new RegExp('[' + this.excepted + ']', 'g'), '');
          var password = '';
          for (var i = 0; i < this.max; i++) {
            password += chars.charAt(Math.floor(Math.random() * chars.length));
          }
          this.password = password;
          this.history.unshift(password);
          localStorage.setItem("passwordHistory", JSON.stringify(this.history));
        },
        copyPassword:function(text){
            var that = this;
            that.$copyText(text).then(function (e) {
              layer.alert("复制成功");
            }, function (e) {
               layer.alert("复制失败，请手动复制");
            })
          },
        clearHistory:function(){
          this.history = [];
          localStorage.setItem("passwordHistory", JSON.stringify(this.history));
        },
      }
})
  </script>
</body>
</html>
